/* $Id: style.css,v 1.2 2004/04/02 20:59:55 mitch Exp
 * minimal CSS */

a:link { color: #0040C0; }
a:visited { color: #002060; }
a:active { color: #C04000; }

body {
 background: white;
 color: black;
}

p {
 text-align: justify;
}

p.header {
 text-align: center;
 font-size: 0.8em;
 margin-top: 0px;
 margin-bottom: 0px;
}

p.footer {
 text-align: right;
 font-size: 0.8em;
}
