/* $Id: style.css,v 1.2 2004/04/02 20:59:55 mitch Exp
 * minimal CSS */

a:link { color: #2077E0; }
a:visited { color: #0040C0; }
a:active { color: #4099FF; }

body {
 background: white;
 color: black;
}

p {
 text-align: justify;
}

p.header {
 text-align: center;
 font-size: 0.8em;
 margin-top: 0px;
 margin-bottom: 0px;
}

p.footer {
 text-align: right;
 font-size: 0.8em;
}
